.radio {
  flex-shrink: 0;
  --chkbg: var(--orange-500);
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 9999px;
  border-width: 1px;
  border-color: var(--orange-500);
  --tw-border-opacity: 0.2;
  transition: background, var(--animation-input, 0.2s) ease-in-out;
}

.radio:checked,
.radio[aria-checked='true'] {
  --tw-bg-opacity: 1;
  background-color: var(--orange-500);
  -webkit-animation: radiomark var(--animation-input, 0.2s) ease-in-out;
  animation: radiomark var(--animation-input, 0.2s) ease-in-out;
  box-shadow: 0 0 0 4px hsl(0 0% 100%) inset, 0 0 0 4px hsl(0 0% 100%) inset;
}

.radio-primary {
  --chkbg: var(--orange-500);
  --tw-border-opacity: 1;
  border-color: var(--orange-500);
}

:focus {
  outline: none;
}

.radio-secondary {
  --chkbg: var(--gray-300);
  --tw-border-opacity: 1;
  border-color: var(--gray-300);
}

.radio-primary:checked,
.radio-primary[aria-checked='true'] {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: var(--orange-500);
  border-color: var(--orange-500);
  color: var(--gray-300);
}

.radio-secondary:checked,
.radio-secondary[aria-checked='true'] {
  --tw-border-opacity: 1;
  border-color: var(--gray-300);
  --tw-bg-opacity: 1;
  background-color: var(--gray-300);
  --tw-text-opacity: 1;
  color: var(--gray-300);
}

.radio:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
