#docs-root,
#story-root,
.sbdocs,
.sbdocs-wrapper,
.sbdocs-content {
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  max-width: none !important;
}

:focus {
  outline: none;
}
