.btn {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  border-radius: var(--rounded-btn, 0.5rem);
  height: 3rem;
  min-height: 3rem;
  border-color: var(--orange-500);
  text-transform: uppercase;
  text-transform: var(--btn-text-case, uppercase);
  border-width: var(--border-btn, 1px);
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  background-color: var(--orange-500);
  --tw-text-opacity: 1;
  color: var(--common-white);
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1em;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  transition-property: color, background-color, border-color,
    -webkit-text-decoration-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.btn:hover,
.btn-active {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}

.btn-lg {
  height: 4rem;
  min-height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.125rem;
}

.btn-md {
  height: 3rem;
  min-height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
}

.btn-sm {
  height: 2rem;
  min-height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
}

.btn-xs {
  height: 1.5rem;
  min-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}
.btn-square {
  height: 3rem;
  width: 3rem;
  padding: 0;
}

.btn-link {
  --tw-text-opacity: 1;
  color: var(--orange-500);
  background-color: #0000;
  border-color: #0000;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.btn-outline {
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
  background-color: #0000;
  border-color: currentColor;
}

.btn-block {
  width: 100%;
}

.no-animation {
  --btn-focus-scale: 1;
  --animation-btn: 0;
  --animation-input: 0;
}

.btn.loading,
.btn.loading:hover {
  pointer-events: none;
}
.btn.loading:before {
  height: 1rem;
  width: 1rem;
  content: '';
  border-radius: 9999px;
  border-width: 2px;
  border-color: #0000 currentColor currentColor #0000;
  margin-right: 0.5rem;
  animation: spin 2s linear infinite;
}

.btn-primary {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: var(--orange-500);
  color: var(--common-white);
  border-color: var(--orange-500);
}

.btn-secondary {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: var(--common-black);
  color: var(--common-white);
  border-color: var(--common-black);
}

.btn-accent {
  --tw-text-opacity: 1;
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  border-color: var(--common-black);
  background-color: var(--common-white);
  color: var(--common-black);
}

.btn-off {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: var(--gray-300);
  color: var(--common-white);
  border-color: var(--gray-300);
}

.btn-outline.btn-info {
  --tw-text-opacity: 1;
  color: hsl(var(--in) / var(--tw-text-opacity));
}

.btn-circle {
  height: 3rem;
  width: 3rem;
  border-radius: 9999px;
  padding: 0;
}

.rounded-tr-box {
  border-top-right-radius: var(--rounded-box, 1rem);
}
.rounded-b-box {
  border-bottom-left-radius: var(--rounded-box, 1rem);
  border-bottom-right-radius: var(--rounded-box, 1rem);
}
